.fh5co-cover
{
  height: 0 !important;
}
span
{
  margin-right: 20px !important;
}
h2{
  margin-top: 25px !important;
}
.overlay{
  background: rgb(0 0 0 / 20%) ! important;
}

.contact-btn{
  margin-left: calc(100% - 160px);
}

.label-contact
{
  font-weight: 500;
  margin-top: 30px;
}
