.fh5co-cover {
  height: 0 !important;
}

span {
  margin-right: 20px !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.4) ! important;
}

.contact-btn {
  margin-left: calc(100% - 160px);
}

.label-contact {
  font-weight: 500;
  margin-top: 30px;
}

#a {
  margin-top: 10%;
}