<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
  <meta name="keywords"
    content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="freehtml5.co" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">


</head>

<body>

  <div class="fh5co-loader" *ngIf="showSpinner"></div>

  <div [class.active]="isActive" class="gototop js-top">
    <a (click)="goToTop()" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="top-menu">
        <div class="container">
          <div class="row">
            <div class="col-xs-1">
              <div id="fh5co-logo"><a routerLink="">STAR<span>.</span></a></div>
            </div>
            <div class="col-xs-11 text-right menu-1">
              <ul>
                <li class="active"><a routerLink="">Home</a></li>
                <li><a routerLink="/courses">Courses</a></li>
                <li><a href="">About us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li class="btn-cta"><a routerLink="/login"><span style="background-color:goldenrod">Login</span></a>
                </li>&nbsp;
                <li class="btn-cta"><a routerLink="/addcours"><span style="background-color:goldenrod">Create a
                      Course</span></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
      style="background-image:url(assets/images/header-bg.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Courses</h1>
                <h2>You learn something every day if you pay attention.<a href="http://StarApp.com" target="_blank">
                    Star.com</a></h2>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-counter" class="fh5co-counters">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="40356" data-speed="5000"
              data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Students</span>
          </div>
          <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="30290" data-speed="5000"
              data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Courses</span>
          </div>
          <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="2039" data-speed="5000"
              data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Instructor</span>
          </div>
          <div class="col-md-3 text-center animate-box">
            <span class="fh5co-counter js-counter" data-from="0" data-to="997585" data-speed="5000"
              data-refresh-interval="50"></span>
            <span class="fh5co-counter-label">Earnings</span>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-explore" id="takeAcours" class="fh5co-bg-section">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Explore Our E-STAR Platform</h2>
            <p>Discover the power of our E-STAR platform, designed to revolutionize online education with interactive
              and comprehensive learning experiences.</p>
          </div>
        </div>
      </div>
      <div class="fh5co-explore fh5co-explore1">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-push-4 animate-box">
              <img class="img-responsive" src="assets/images/work_1.png" alt="course">
            </div>
            <div class="col-md-4 col-md-pull-8 animate-box">
              <div class="mt">
                <h3>Discover E-STAR Courses</h3>
                <p>Immerse yourself in our E-STAR courses, each meticulously crafted to provide effective and engaging
                  learning experiences. Access valuable lesson documents for in-depth understanding.</p>
                <ul class="list-nav">
                  <li><i class="icon-check2"></i> Interactive Learning Materials</li>
                  <li><i class="icon-check2"></i> Engaging Multimedia Content</li>
                </ul>
                <p><a class="btn btn-primary btn-lg" href="#your-course-link">Start Your Journey</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fh5co-explore">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-pull-1 animate-box">
              <img class="img-responsive" src="assets/images/work_1.png" alt="course">
            </div>
            <div class="col-md-4 animate-box">
              <div class="mt">
                <div>
                  <h4><i class="icon-file-text"></i> Apply Knowledge to Real Projects</h4>
                  <p>Put your knowledge into practice with real-world projects. Our courses offer hands-on experiences
                    for practical solutions.</p>
                </div>
                <div>
                  <h4><i class="icon-video2"></i> Multimedia Learning Environment</h4>
                  <p>Experience dynamic and engaging learning environments with multimedia-rich lessons.</p>
                </div>
                <div>
                  <h4><i class="icon-shield"></i> Comprehensive Learning Curriculum</h4>
                  <p>Our courses cover a diverse range of topics, ensuring a well-rounded and comprehensive learning
                    experience.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="fh5co-steps">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Start A Course</h2>
            <p>Welcome to our platform! Begin your learning adventure with these simple steps:</p>
          </div>
        </div>

        <div class="row bs-wizard animate-box" style="border-bottom:0;">

          <div class="col-xs-4 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">
              <h4>Step 1</h4>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">
              <p>Create A Free Course</p>
            </div>
          </div>

          <div class="col-xs-4 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">
              <h4>Step 2</h4>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">
              <p>Upload leson</p>
            </div>
          </div>

          <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">
              <h4>Step 3</h4>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">
              <p>Wait for Approval</p>
            </div>
          </div>

          <!-- <div class="col-xs-3 bs-wizard-step disabled"><!-- active
					<div class="text-center bs-wizard-stepnum"><h4>Step 4</h4></div>
					<div class="progress"><div class="progress-bar"></div></div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center"><p>Start Making Money</p></div>
				</div> -->
        </div>

      </div>
    </div>
    <!-- NO dispo yet
	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Testimonials</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="assets/images/person_1.jpg" alt="user">
									</figure>
									<span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="assets/images/person_2.jpg" alt="user">
									</figure>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="assets/images/person_3.jpg" alt="user">
									</figure>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

    <div id="fh5co-blog">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Recent Lessons</h2>
            <p>Explore our latest lessons, each designed to enhance your learning experience.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
              <a href="#"><img class="img-responsive" src="assets/images/lesson-1.jpg" alt=""></a>
              <div class="blog-text">
                <h3><a href="">Introduction to Web Development</a></h3>

                <p>Dive into the fundamentals of web development and get started on your coding journey.</p>
                <a href="#" class="btn btn-primary">Read Lesson</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
              <a href="#"><img class="img-responsive" src="assets/images/lesson-2.jpg" alt=""></a>
              <div class="blog-text">
                <h3><a href="">Exploring Data Science Techniques</a></h3>

                <p>Discover the world of data science and learn powerful techniques for analysis and visualization.</p>
                <a href="#" class="btn btn-primary">Read Lesson</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
              <a href="#"><img class="img-responsive" src="assets/images/lesson-3.jpg" alt=""></a>
              <div class="blog-text">
                <h3><a href="">JavaScript Mastery for Web Developers</a></h3>

                <p>Enhance your web development skills with advanced JavaScript techniques and best practices.</p>
                <a href="#" class="btn btn-primary">Read Lesson</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-started" style="background-image:url(assets/images/img_bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Lets Get Started</h2>
            <p>Unlock the door to knowledge! Start your course creation process and inspire others with your expertise.
            </p>
          </div>
        </div>
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center">
            <p><a href="/addcours" class="btn btn-default btn-lg">Create A Free Course</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-3 fh5co-widget">
            <h4 style="font-weight:bold">About Learning</h4>
            <p>Education is the most powerful weapon which you can use to change the world.<br />

          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <h4 style="font-weight:bold">Useful links</h4>
            <ul class="fh5co-footer-links">
              <li><i class="bi bi-chevron-right"></i><a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Contact</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Courses</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <h4 style="font-weight:bold">Learning</h4>
            <ul class="fh5co-footer-links">
              <li><i class="bi bi-chevron-right"></i><a href="#">Course</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Contact</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Terms</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <h4 style="font-weight:bold">Engage us</h4>
            <ul class="fh5co-footer-links">
              <li><i class="bi bi-chevron-right"></i><a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Visual Assistant</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">System Analysis</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Advertise</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <h4 style="font-weight:bold">Legal</h4>
            <ul class="fh5co-footer-links">
              <li><i class="bi bi-chevron-right"></i><a href="#">Privacy policy</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Conditions</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Support</a></li>
              <li><i class="bi bi-chevron-right"></i><a href="#">Teams</a></li>
            </ul>
          </div>
        </div>

        <div class="row copyright">
          <div class="col-md-12 text-center">
            <p>
              <small class="block">&copy; Copyright <b>STAR</b>. All Rights Reversed</small>
              <small class="block">Designed by <a href="#" target="_blank"> Ben Henni Oussema <span
                    style="color:gray">&</span>Ben Hlila Cyrine
                </a></small>
            </p>
            <p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="bi bi-twitter"></i></a></li>
              <li><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
              <li><a href="#"><i class="bi bi-dribbble"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </footer>

  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>

  <!-- jQuery -->


</body>

</html>