span {
  margin: 0 10px !important;
}

h2 {
  margin-top: 25px !important;
}

#fh5co-footer i.bi-chevron-right {
  color: darkgoldenrod;
  font-weight: bold;
}
*{
  font-family: "Work Sans", Arial, sans-serif !important;
}
