<!--<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />

  <title>Document</title>
</head>
<body>
component
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div
			class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div>
					<h1 class="text-2xl font-semibold">Login Form with Floating Labels</h1>
				</div>
				<div class="divide-y divide-gray-200">
					<div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
						<div class="relative">
							<input autocomplete="off" id="email" name="email" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
							<label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
						</div>
						<div class="relative">
							<input autocomplete="off" id="password" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Password" />
							<label for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
						</div>
						<div class="relative">
							<button class="bg-blue-500 text-white rounded-md px-2 py-1">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-
</body>
</html>-->
<!doctype html>
<html lang="en">

<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />



</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" id="titlelogin">&nbsp;</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="img" style="background-image: url(assets/images/register1.jpg);">
          </div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-3">Sign Up</h3>
              </div>
              <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                      class="fa fa-facebook"></span></a>
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                      class="fa fa-twitter"></span></a>
                </p>
              </div>
            </div>
            <form (ngSubmit)="register(signupForm)" class="signin-form" #signupForm="ngForm" method="post">
              <div class="form-group mb-2">
                <label class="label" for="name">FirstName & LastName </label>
                <input type="text" class="form-control" #nomprenom="ngModel" ngModel
                  placeholder="Please enter your First and Last name" required>
              </div>
              <div class="form-group mb-2">
                <label class="label" for="name">Address</label>
                <input type="adresse" #address #addres="ngModel" ngModel class="form-control" placeholder="aaaa"
                  required>
              </div>
              <div class="form-group mb-2">
                <label for="countries" class="label">Select an option</label>
                <select id="countries"
                  class="bg-yellow-50 border border-yellow-300 text-yellow-900 text-sm rounded-lg focus:ring-blue-500 focus:border-yellow-500 block w-full p-2.5 dark:bg-yellow-700 dark:border-yellow-600 dark:placeholder-yellow-400 dark:text-white dark:focus:ring-yellow-500 dark:focus:border-yellow-500">
                  <option selected #grade="ngModel" ngModel>Choose your Grade</option>
                  <option value="US">Autor</option>
                  <option value="CA">Student</option>
                  <option value="FR">Other</option>
                </select>
              </div>
              <div class="form-group mb-2">
                <label class="label" for="name">Email </label>
                <input type="email" #email="ngModel" ngModel class="form-control" placeholder="example@gmail.com"
                  required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Password</label>
                <div class="input-group">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" #password
                    (ngModel)="password" placeholder="*************" required>
                  <span class="input-group-text" (click)="togglePasswordVisibility()">
                    <i class="{{ showPassword ?  'bi-eye': 'bi-eye-slash'}}"></i>
                  </span>
                </div>
              </div>
              <!-- <div class="form-group mb-3">
                <label class="label" for="password">Comfirm Password</label>
                <div class="input-group">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" #password
                    (ngModel)="comfirmPassword" placeholder="*************" required>
                  <span class="input-group-text" (click)="togglePasswordVisibility()">
                    <i class="{{ showPassword ?  'bi-eye': 'bi-eye-slash'}}"></i>
                  </span>
                </div>
              </div>
            -->
              <div class="form-group mb-2">
                <div id="heightupload">
                  <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file"
                      class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                      <div class="flex flex-col items-center justify-center pt-4  pb-6">
                        <svg class="w-8 h-8 mb-0 text-gray-500 dark:text-gray-400" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                            upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                      </div>
                      <input id="dropzone-file" type="file" class="hidden" />
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group" id="signIn">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>