<!doctype html>
<html lang="en">

<head>
  <title>Update Lecon</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <br>
  <div class="fh5co-loader" *ngIf="showSpinner"></div>
  <div class="container" *ngIf="leconDetails">
    <div class="bg-white rounded p-1 shadow-md">

      <div class="reset-pass p-md-4">
        <form #f="ngForm" (ngSubmit)="updateLecon(f)" method="POST" class="signin-form">
          <h3>Modify Course n° {{leconDetails.idLecon}} </h3>
          <p class="text-slate-500"><i>Fill up the form to Update form</i></p>
          <div class="form-group mb-3">
            <label class="label" for="name">Title course</label>
            <input type="text" name="titre" [(ngModel)]="leconDetails.titre" placeholder="{{ leconDetails.titre }}"
              class="form-control" required>
          </div>
          <div class="form-group mb-3">
            <label class="label" for="name">Description</label>
            <textarea name="description" id="d" [(ngModel)]="leconDetails.description"
              placeholder="{{ leconDetails.description }}" class="form-control" style="height: 100px;"
              required></textarea>
          </div>
          <div class="form-group mb-3">
            <div class="flex items-center justify-center w-full">
              <label class="label-form" for="dropzone-file"
                class="flex flex-col items-center justify-center w-full h-32 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-2 pb-3">
                  <svg class="w-6 h-6 mb-2 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                  </svg>
                  <p class="mb-1 text-xs text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span> or drag
                    and drop
                  </p>
                  <p class="text-xxs text-gray-500 dark:text-gray-400">
                    Supported formats: PDF, DOC
                  </p>
                  <!-- Add a section to display the selected file name -->
                  <p class="text-xs text-green-500 dark:text-green-400">
                  </p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" required ngModel name="fileInput"
                  accept=".pdf, .doc, .docx" #fileInput />
              </label>
            </div>
            <div class="form-group" id="update">
              <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                Modify Lecon</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>

</html>