<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />

    <title>Forget Password</title>
  </head>

  <body>
    <!-- reset-password.component.html -->
    <div class="container">
      <a href="/"><i class="bi bi-arrow-left-circle-fill ico-Home"></i> &nbsp;&nbsp;Back Home</a>
      <div *ngIf="step === 1">
        <!-- Step 1: Enter Email -->
        <div class="reset-pass p-md-5">
          <h3>Reset password</h3>
          <p class="text-slate-500">Fill up the form to reset the password</p>
          <form
            #formAC="ngForm"
            (ngSubmit)="forgetPassword(formAC)"
            method="POST"
            class="signin-form"
          >
            <div class="form-group mb-3">
              <label class="label" for="name">Email address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter email address"
                required
                [(ngModel)]="email"
                #emailInput="ngModel"

              />
            </div>

            <div class="form-group" id="signIn">
              <button
                [disabled]="formAC.invalid"
                [ngStyle]="{
                  'background-color': formAC.valid ? 'goldenrod' : '#ccc',
                  cursor: formAC.valid ? 'pointer' : 'not-allowed'
                }"
                type="submit"
                class="form-control btn btn-primary rounded submit px-3"
              >
                <i class="bi bi-key"></i> Next
              </button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="step === 2">
        <!-- Step 2: Enter Code -->
        <div class="reset-pass p-md-5">
          <h3>Enter verification code</h3>
          <!-- Add code input form here -->
          <form
            #formCode="ngForm"
            (ngSubmit)="verifyCode(formCode)"
            method="POST"
            class="signin-form"
          >
            <div class="form-group mb-3">
              <label class="label" for="code">Verification code</label><br>Please check your email for further instructions
              <p *ngIf="tokenError" class="alert alert-danger" role="alert">
                Password reset token is invalid or has expired.
              </p>
              <input
                type="text"
                name="code"
                class="form-control"
                placeholder="Enter code"
                required
                [(ngModel)]="code"
              />
            </div>
            <div class="form-group" id="signIn">
              <button
                [disabled]="formCode.invalid"
                [ngStyle]="{
                  'background-color': formCode.valid ? 'goldenrod' : '#ccc',
                  cursor: formCode.valid ? 'pointer' : 'not-allowed'
                }"
                type="submit"
                class="form-control btn btn-primary rounded submit px-3"
              >
                <i class="bi bi-key"></i> Next
              </button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="step === 3">
        <!-- Step 3: Set New Password -->
        <div class="reset-pass p-md-5">
          <h3>Set new password</h3>
          <p> You can click the button only when the password is the same as the confirm password.</p>
          <!-- Add password input form here -->
          <form
  #formPassword="ngForm"
  (ngSubmit)="setNewPassword(formPassword)"
  method="POST"
  class="signin-form"
>
  <div class="form-group mb-3">
    <div class="input-group">
      <input
        name="password"
        type="{{ showPassword ? 'text' : 'password' }}"
        class="form-control"
        #passwordInput
        [(ngModel)]="newPassword"
        placeholder="Enter your new Password"
        required
      />
      <span class="input-group-text" (click)="togglePasswordVisibility()">
        <i class="{{ showPassword ? 'bi-eye' : 'bi-eye-slash' }}"></i>
      </span>
    </div>
  </div>
  <div class="form-group mb-3">
    <label class="label" for="confirmPassword">Confirm Password</label>
    <div class="input-group">
      <input
        name="confirmPassword"
        type="{{ showPassword ? 'text' : 'password' }}"
        class="form-control"
        #confirmPasswordInput
        [(ngModel)]="confirmPassword"
        placeholder="Confirm your new Password"
        required
      />
      <span class="input-group-text" (click)="togglePasswordVisibility()">
        <i class="{{ showPassword ? 'bi-eye' : 'bi-eye-slash' }}"></i>
      </span>
    </div>
  </div>
  <div class="form-group" id="signIn">
    <button
      [disabled]="formPassword.invalid || newPassword !== confirmPassword"
      [ngStyle]="{
        'background-color': formPassword.valid && newPassword === confirmPassword ? 'goldenrod' : '#ccc',
        cursor: formPassword.valid && newPassword === confirmPassword ? 'pointer' : 'not-allowed'
      }"
      type="submit"
      class="form-control btn btn-primary rounded submit px-3"
    >
      <i class="bi bi-key"></i> Reset Password
    </button>
  </div>
</form>

        </div>
      </div>
    </div>
  </body>
</html>
