#c {
  margin-top: 10% !important;
}
.reset-pass
{
  width: 500px;
  margin: 10% auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
body
{
  background-color: white !important;
  height: auto !important;
}
