<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AjouterCours</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

</head>

<body>

  <!--<div class="container">
    <form #formAC="ngForm" (ngSubmit)="ajouterCours(formAC)" class="form-example" action="">
      <label for="t">Titre : </label><br>
      <input type="text" id="t" required ngModel name="titre">
      <label for="desc">Description : </label><br>
      <input type="text" id="desc" required ngModel name="description">
      <label for="d">Durée : </label><br>
      <input type="text" id="d" required ngModel name="duree">
      <label for="l">Langue : </label><br>
      <input type="text" id="l" required ngModel name="langue">
      <label for="n">Nombre de Vue : </label><br>
      <input type="number" id="n" required ngModel name="nb">
      <input type="submit" value="Ajouter" name="ajout">
    </form>
  </div>-->
  <div class="flex justify-center items-center h-screen">
    <div class="formbold-main-wrapper w-full">
      <div class="formbold-form-wrapper">
        <form #formAC="ngForm" (ngSubmit)="ajouterCours(formAC)" method="POST">
          <div class="formbold-steps">
            <ul class="flex justify-between">
              <li class="formbold-step-menu1 active ">
                <span>1</span>
                Cours
              </li>
              <li class="formbold-step-menu2">
                <span>2</span>
                Leçon
              </li>
              <li class="formbold-step-menu3">
                <span>3</span>
                Termes
              </li>
            </ul>
          </div>
          <div class="formbold-form-step-1 active">
            <div>
              <label for="t" class="formbold-form-label"> Titre du Cours </label>
              <input type="text" name="titre" id="t" placeholder="Saisir votre titre du cours " required ngModel
                class="formbold-form-input" />
            </div>
            <br>
            <div class="formbold-input-flex">
              <div>
                <label for="de" class="formbold-form-label"> Durée </label>
                <input type="time" name="duree" id="de" class="formbold-form-input" required ngModel />
              </div>
              <div>
                <div>
                  <label for="langue" class="formbold-form-label"> Langue</label>
                  <select name="langue" id="langue" class="formbold-form-input" required=ngModel>
                    <option value="">Choisir la langue</option>
                    <option *ngFor="let langue of langues" [value]="langue" class="formbold-form-input">{{ langue }}
                    </option>
                  </select>
                </div>

              </div>
            </div>
            <div>
              <label for="d" class="formbold-form-label"> Description </label>
              <textarea name="description" id="d" placeholder="Saisir votre Description du cours" required ngModel
                class=" formbold-form-input"></textarea>
            </div>

          </div>
          <div class="formbold-form-btn-wrapper">
            <button class="formbold-btn" type="submit">
              Next Step
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1675_1807)">
                  <path
                    d="M10.7814 7.33312L7.20541 3.75712L8.14808 2.81445L13.3334 7.99979L8.14808 13.1851L7.20541 12.2425L10.7814 8.66645H2.66675V7.33312H10.7814Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_1675_1807">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>